html,body {
  width: 90%;
  height: 100%;
  margin: 0 auto;
}


header {
  text-align: center;
}
main{
  height: 80%;

}

img{
  margin: 5% 10%;
  float: left;
  width: 30%;

}

p{
  width: 30%;
  float: left;
  margin: 12% 5%;
}

footer{
  text-align: center;
  margin: .25em;
  padding: .25em;

}
