body{
  background-color: #22353c;
  font-family:"Ubuntu", "Droid Sans", "Helvetica", Arial, sans-serif;
  font-size: 20px;
  height: 100%;

}

header{
  background-color: #05080d;
  font-size: 3em;
  color: white;
  }

img{
  border-radius: 40px;
  box-shadow: 10px 10px 5px #3d272a;

}

main {
  background-color: #dea26c;
  font-size: 1em;
}

a{
  text-decoration: none;
}

footer{
  font-size: 1em;
}

.btn {
  -webkit-border-radius: 9;
  -moz-border-radius: 9;
  border-radius: 0.45em;
  color: #ffffff;
  font-size: 1em;
  background: #3d272a;
  padding: .5em 1em .5em 1em;
  text-decoration: none;
}

.btn:hover {
  background: #6f4837;
  text-decoration: none;
}

.invisibleillness p{
  width: 50%;
  font-size: .80em;
  margin: 2%;
  padding: 2%;
  float: right;
}
.invisibleillness h1{
  float: right;
  width: 50%;
  margin: 1%;
  padding: 2%;
  font-size: 1.5em;
}

.invisibleillness h3{
  float: right;
  width: 50%;
  }

  .invisibleillness img{
    float: left;
    width: 40%;
    border-radius: 0;
    padding-left: 1%;
    margin: 0;
  }
